body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    align-items: center;
    background-color: slateblue;
}

.box{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: solid lightgray;
    background-color: white;
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.3);
}

input{
    background-color: transparent;
    border: none;
    width: 200px;
    transition-delay: 0.5s;
    transition: width 2s;
}

input:focus{
    border: none;
    outline: none;
}

img {
    width: 30px;
    height: 30px;
    margin: 8px;
    transition-delay: 0.5s;
    transition: width 1s;
}

#img-microphone{
    transition-delay: 1.5s;
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.deactivated{
    width: 0px;
    margin: 0px;
    transition-delay: 0.5s;
    transition: width 1s;
}
