.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.grid-element {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.score-positive{
    color: green;
}

.score-negative{
    color: red;
}