body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: lightblue;
}

#container{
    position: relative;
    text-align: center;
    width: 80%;
    padding: 0px;
    margin: 0px;
}

#container-progress-bar{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#container-buttons{
    position: relative;
    margin-top: 30px;
}

.left{
    position: absolute;
    left: 20%;
}

.right{
    position: absolute;
    right: 20%;
}

.fa-solid{
    border: solid;
    padding: 5px;
    color: black;
    border-radius: 40px;
    background-color: white;
    border-color: green;
}

#container-bars{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 99%;
}

hr{
    position: absolute;
    transform: translateY(-25px);
    width: 100%;
    z-index: -2;
}

.green{
    border-color: green;
    width: var(--i);
    z-index: -1;
    transition: width 0.5s ease-in-out;
}

button{
    scale: 1.2;
    color: white;
    background-color: slateblue;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

button:hover:enabled{
    background-color: white;
    color: slateblue;
}

button:active:enabled{
    scale: 1.0;
}
:disabled{
    cursor: auto;
    opacity: 0.5;
}

.green-circle{
    border-color: green;
}

.gray-circle{
    border-color: gray;
}